@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 10px;
  max-width: 1440px;
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
}
#inscription {
  display: flex;
}
nav li {
  list-style: none;
  padding: 30px 10px 30px;
}

nav a {
  text-decoration: none;
  color: #0065fc;
  padding: 20px;
}
nav li a:hover {
  border-top: 2px solid #0065fc;
  padding-top: 40px;
}
#navactivités {
  color: black;
}
#navsinscrire {
  font-weight: bold;
}
/*Main*/

a {
  text-decoration: none;
  color: black;
  display: inherit;
}

h3 {
  font-weight: bold;
  margin: 0px;
  padding: px;
}

h1 {
  font-size: 24px;
  line-height: 12px;
}

h3 {
  font-size: 16px;
}

span {
  font-weight: bold;
}
#section1 {
  display: flex;
  flex-direction: column;
}

#Recherche {
  display: flex;
  align-items: flex-start;
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

i.fa-map-marker-alt {
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: black;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
}
.fa-search {
  display: none;
}

::placeholder {
  color: black;
  text-decoration: none;
  font-style: "raleway";
}

input[type="search" i] {
  width: auto;
  line-height: 38px;
  padding: 0 0 0 10px;
  color: black;
  font-weight: bold;
  font-family: "Raleway";
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
}

#rechercher {
  color: #ffffff;
  background-color: #0065fc;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 0 10px 10px 0px;
  text-align: center;
}

div.filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.filtres ul {
  display: flex;
  align-items: stretch;
  text-decoration: none;
}
.filtres li {
  display: flex;
  text-decoration: none;
  font-weight: bold;
  height: 36px;
  color: black;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  border: 2px solid #d9d9d9;
  border-radius: 20px;
}
.filtres i {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: -3px;
  background-color: #deebff;
  color: #0065fc;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.filtres a {
  margin: 20px;
  text-align: center;
}

.filtres a:hover {
  color: #0065fc;
}
#information {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.fa-info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  height: 30px;
  width: 30px;
  border: #f2f2f2 solid 2px;
  border-radius: 30px;
  margin-right: 10px;
}

#section_2 {
  display: flex;
  flex-direction: row;
}
.hébergements {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 80%;
  margin-right: 30px;
  padding: 5px 30px 30px 30px;
}

.hébergements .hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hébergements .frames {
  width: 30%;
  margin-bottom: 30px;
  padding: 4px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 4px 14px 1px rgb(228, 228, 228);
}
.hébergements img {
  border-radius: 10px 10px 0px 0px;
  height: 95px;
  width: 100%;
  max-height: 90px;
  object-fit: cover;
}
.hébergements .details {
  margin: 5px 0px 10px 10px;
}
a.plus {
  font-weight: bold;
  margin-top: 10px;
}
.populaires {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
  width: 40%;
  border-radius: 20px;
  padding: 5px 30px 10px 30px;
}

#titre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
}

.populaires .hotels {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.populaires .frames {
  display: flex;
  flex-direction: row;
  padding: 4px 10px 4px 4px;
  height: 130px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 4px 14px 1px rgb(228, 228, 228);
}
.populaires img {
  border-radius: 10px 0px 0px 10px;
  width: 40%;
  object-fit: cover;
}
.populaires .details {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 0px 15px;
}
.populaires .stars {
  margin-top: 10px;
}
i.fas.fa-star.blue {
  color: #0065fc;
}
i.fas.fa-star.grey {
  color: rgb(217, 217, 217);
}

#section_3 {
  display: flex;
  flex-direction: column;
  margin: 40px 0px 30px 0px;
}
#activités {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#activités .frames {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 4px 4px 14px 1px rgb(228, 228, 228);
}
#activités img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
#activités h3 {
  padding: 10px;
}
#group1,
#group2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 30%;
}

.group1 img,
.group2 img {
  height: 50%;
  width: 100%;
}
img#fort {
  height: 135px;
  width: 100%;
  object-fit: cover;
}

img#iles {
  height: 100px;
  object-fit: cover;
}
img#notredame {
  width: 100%;
  height: 100px;
  object-fit: cover;
  object-position: top;
}
img#parc {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: rgb(242, 242, 242);
  padding: 30px;
}
footer ul {
  list-style: none;
  padding: 0;
  font-size: 5pt;
  line-height: 4em;
}
.footer {
  width: 80%;
}

/* propriétés pour les écrans inférieurs 900px */
@media all and (max-width: 900px) {
  html {
    width: auto;
  }
  body {
    width: auto;
    margin: 0px;
  }
  h1 {
    line-height: 1em;
  }
  header {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    margin: 10px;
  }
  header img {
    height: 50px;
    margin-left: 50px;
  }
  nav {
    align-items: flex-end;
    flex-direction: column;
  }
  nav ul {
    order: 2;
    border-bottom: 2px solid #d9d9d9;
  }
  nav li a:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
    padding-bottom: 10px;
  }
  nav li {
    padding: 0px 0px 10px 0px;
  }
  #inscription {
    display: flex;
    margin-right: 30px;
  }
  div#présentation {
    margin-bottom: 30px;
  }
  div.filtres {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  .filtres ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: 10px;
  }
  .filtres li {
    margin: 4px;
  }
  .fa-info {
    height: 20px;
    width: 30px;
  }
  button#rechercher {
    display: none;
  }
  .fa-search {
    display: flex;
    color: #ffffff;
    background-color: #0065fc;
    border: none;
    border-radius: 10px;
    width: 40px;
    line-height: 40px;
    justify-content: center;
    margin-left: -7px;
  }
  #section_1 {
    margin: 20px;
  }
  #section_2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .hébergements {
    border-radius: 0px;
    background-color: white;
    padding: 0px;
    margin: 20px;
    width: auto;
  }
  .hébergements .hotels {
    display: flex;
    flex-direction: column;
  }
  .hébergements .frames {
    width: auto;
    margin-bottom: 15px;
  }
  .hébergements img {
    height: 120px;
    max-height: 130px;
  }

  a.plus {
    margin-top: 20px;
  }

  #section_3 {
    margin: 20px;
  }
  .populaires {
    border-radius: 0px;
    width: auto;
    padding: 0px;
  }
  .populaires .frames {
    margin: 0px 20px 10px 20px;
  }
  .populaires .hotels {
    margin-bottom: 20px;
  }
  #titre {
    margin: 20px 20px 5px 20px;
  }
  #activités {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  #activités .frames {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #activités img {
    height: 130px;
    max-height: 130px;
  }
  #group1,
  #group2 {
    width: 100%;
    height: 30%;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
  .footer {
    padding: 20px 20px 20px 10px;
  }
}
